* {
  margin: 0;
  padding: 0;
}

body {
  block-size: border-box;
}

.imgsix {
  width: 55%;
  margin-left: 18%;
}

a {
  outline: none;
}

.heading {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: "Nunito";
  text-transform: uppercase;
}

.heading ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
  color: black;
  padding: 0;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;
}

.profile-middle {
  font-family: "Nunito";
}

.icons {
  margin-top: 50%;
  margin-left: 70%;
  color: black;
}
.icons a i {
  color: black;
}

#pressDiv,
#awardsDiv,
#creditsDiv {
  display: none;
}
/*** photo vido section**/
.news-photo {
  margin-top: 100px;
}

.firstpart {
  background: #1a1a1d;
}

.titlepart {
  margin-top: 100px;
  margin-left: 10%;
  color: white;
  font-family: "Nunito";
}
.underline {
  width: 100px;
  height: 3px;
  background: white;
}

.imagepart {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 10%;
}

.imag {
  width: 40%;
}
.imag-title {
  width: 60%;
  color: white;
  position: relative;
}
.imag-title span {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  margin-left: 20px;
  color: #5e5e64;
}

.videopart {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
}

.vid {
  position: relative;
  width: 40%;
}
.vid-vid {
  width: 95%;
  height: auto;
}

.vid-title {
  width: 60%;
  color: white;
  position: relative;
}

.vid-title span {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  margin-left: 20px;
  color: #5e5e64;
}

.big-play {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

.big-play i {
  margin-left: 25%;
  margin-top: 15%;
  font-size: 20px;
}

.secondpart {
  margin: 0;
  padding: 0;
}

.secondpart img {
  width: 100%;
  object-fit: cover;
}

.explore {
  color: white;
  text-transform: uppercase;
  margin-left: 10%;
}

/*** section four **/
.client {
  font-family: "Nunito";
  margin-top: 125px;
}
.next-underline {
  width: 100px;
  height: 3px;
  background: #000000;
}
.slider {
  width: 90%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
}

.slick-current {
  opacity: 1;
}

/* .slick-active{
opacity:0.3;
} */

.slick-slide {
  margin: 0;
  padding: 0;
}

.slick-dots {
  bottom: -65px;
}
.slick-dots li button:before {
  color: black;
  font-size: 40px;
}
.slider-wrapper {
  position: relative;
}
.clientNameInImage {
  position: absolute;
  top: 70%;
  left: 25%;
  color: white;
  font-family: "Nunito";
  text-align: center;
}
/*** section-five **/
.section-five {
  padding-left: 5%;
  margin-top: 100px;
  border-bottom: 2px solid #f7f7f7;
  box-sizing: border-box;
}

.sign-up {
  text-transform: uppercase;
  font-size: "Nunito";
  margin-top: 10px;
  box-sizing: border-box;
  margin-right: 0;
  padding-right: 0;
  display: flexbox;
  text-align: center;
  color: black;
  text-decoration: none;
}

.sing-up:active {
  text-decoration: none;
}
.sing-up:hover {
  text-decoration: none !important;
}
.left-bar {
  border-right: 2px solid black;
}

.left-bar img {
  margin-top: 10px;
}

#sub-btn {
  border-radius: 10px;
  margin-right: 5px;
}
#sub-input {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
/** section last */
.section-last {
  margin-top: 60px;
}

.copyright {
  margin-left: 7%;
  font-family: "Nunito";
  color: #5e5e64;
}

.place {
  padding-right: 30px;
}
.icon-icon {
  text-align: center;
}
.icon-icon i {
  color: black;
  text-decoration: none;
}

/**** header section  ***/
.cover {
  height: 100vh;
  position: relative;
  font-family: "Nunito";
  opacity: 0.8;
}
.blue-box {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}
.top-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  padding-left: 20px;
}
.menu {
  width: 25%;
  padding-left: 20px;
}
.menu i {
  font-size: 30px;
  cursor: pointer;
}
.menu a {
  font-size: 20px;
  padding-left: 20px;
  display: none;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.logo {
  width: 50%;
  text-align: center;
  z-index: 9;
}
.logo form {
  display: none;
}
.search-input {
  border: 2px solid #292b2c;
  border-radius: 10px;
  width: 70%;
  height: 35px;
}
.submit-btn {
  border-radius: 15px;
}
.search {
  width: 25%;
  z-index: 9;
  display: none;
  text-align: right;
}

.search span {
  padding-right: 5%;
  font-size: 25px;
  margin-top: 0;
  padding-top: 0;
}

.search span i {
  cursor: pointer;
  margin-left: 5px;
}
.search span i:first-child {
  margin-right: 20px;
}
.cover video {
  width: 70%;
  margin-left: 20%;
  margin-top: 10px;
  opacity: 0.7;
}
.play-full {
  position: absolute;
  right: 20%;
  top: 25%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
}

.play-full i {
  font-size: 35px;
  margin-top: 10px;
  margin-left: 3px;
  cursor: pointer;
}
.enquire {
  position: absolute;
  left: 20%;
  bottom: 43px;
  color: #3eb4e2;
  text-transform: uppercase;
  padding-top: 15px;
  height: 50px;
  padding-right: 20px;
  background-color: white;
}
.derek-name {
  position: absolute;
  top: 25%;
  left: 7%;
}
.derek-name h2 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 0px;
}
.derek-name p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: 30px;
}
#forVideo1 {
  display: none;
}
#forVideo3 {
  display: none;
}

.goto {
  position: absolute;
  bottom: 150px;
  margin-left: 25px;
}

.goto ul li {
  list-style-type: none;
  line-height: 3em;
  font-size: 12px;
  font-weight: bold;
  color: #bfbfca;
  text-align: right;
  cursor: pointer;
}
.selected {
  color: #000000;
}
.video-changers {
  position: absolute;
  bottom: 175px;
  left: 15%;
  cursor: pointer;
}

/** media queries  **/
@media (min-width: 320px) and (max-width: 767px) {
  .heading ul li {
    padding: 0px;
    margin-right: 6px;
    font-size: 10px;
  }
  .imgsix {
    width: 85%;
    margin-left: 1%;
  }
  .icons {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 10%;
  }
  .icons p {
    text-align: center;
    margin-left: 20px;
  }
  .logo img {
    width: 100px;
  }
  .menu a {
    font-size: 8px;
    padding-left: 4px;
  }
  .menu i {
    font-size: 8px;
  }

  .search p i {
    font-size: 10px;
    margin-right: 10px;
  }
  .cover {
    height: 60vh;
    position: relative;
    font-family: "Nunito";
  }
  .top-row {
    padding-top: 30px;
    padding-left: 10px;
  }
  .cover video {
    margin-top: 0px;
  }
  .left-bar {
    text-align: center;
  }
  .icon-icon {
    text-align: center;
  }
  .derek-name h2 {
    font-size: 26px;
    margin-bottom: 0px;
  }
  .derek-name p {
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 11px;
  }
  .goto {
    display: none;
  }
  .video-changers {
    display: none;
  }
}
